body { 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#continuacaoEmJS {
    color: red;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

