body { 
    background-color: rgb(143, 221, 245);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-family: Verdana, Tahoma, sans-serif;
}

.result {
    color: rgb(28, 230, 21);
    font-weight: bold;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

p {
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
}
